#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2f243484-2c99-4889-a951-372d2ad51f10 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}