#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 228px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Group_56 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 65px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 90px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Label_85 .valign {
  vertical-align: middle;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 22px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Image_33 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 44px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Image_36 {
  position: absolute;
  top: 4px;
  left: 230px;
  width: 90px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 119px;
  width: 78px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Label_6 {
  position: absolute;
  top: 1px;
  left: 44px;
  width: 45px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Group_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 320px;
  height: 91px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Group_10 {
  position: absolute;
  top: 46px;
  left: 0px;
  width: 320px;
  height: 45px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 305px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Bold,Arial;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10pt;
  line-height: 0px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Input_2 {
  position: absolute;
  top: 11px;
  left: 119px;
  width: 151px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Input_2 input {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 303px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10pt;
  font-family: Roboto-Bold,Arial;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 10pt;
  line-height: 0px;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Input_1 {
  position: absolute;
  top: 11px;
  left: 85px;
  width: 193px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  text-shadow: none;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rectangle_2 {
  position: absolute;
  top: 193px;
  left: 63px;
  width: 185px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-3d10bcf8-1498-4d06-a9ac-30396e0a32b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}