#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-7d2f1386-4e13-4272-9fe4-f9ea14365a4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}