#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 540px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Group_56 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 65px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 90px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_85 .valign {
  vertical-align: middle;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 22px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_33 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 44px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_36 {
  position: absolute;
  top: 4px;
  left: 230px;
  width: 90px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 119px;
  width: 78px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_6 {
  position: absolute;
  top: 1px;
  left: 44px;
  width: 45px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_92 {
  position: absolute;
  top: 25px;
  left: 270px;
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_2 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 318px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_3 {
  position: absolute;
  top: 98px;
  left: 0px;
  width: 318px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_4 {
  position: absolute;
  top: 275px;
  left: 0px;
  width: 318px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Group_1 {
  position: absolute;
  top: 226px;
  left: 0px;
  width: 320px;
  height: 161px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_1 {
  position: absolute;
  top: 84px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_96 {
  position: absolute;
  top: 91px;
  left: 230px;
  width: 38px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_8 {
  position: absolute;
  top: 128px;
  left: 177px;
  width: 135px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_11 {
  position: absolute;
  top: 176px;
  left: 179px;
  width: 135px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_4 {
  position: absolute;
  top: 105px;
  left: 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 290px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Input_5 {
  position: absolute;
  top: 145px;
  left: 7px;
  padding-left: 15px;
  width: 149px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Input_5 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Input_6 {
  position: absolute;
  top: 180px;
  left: 7px;
  padding-left: 15px;
  width: 149px;
  height: 25px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Input_6 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Group_3 {
  position: absolute;
  top: 387px;
  left: 0px;
  width: 320px;
  height: 77px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_97 {
  position: absolute;
  top: 7px;
  left: 230px;
  width: 38px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_9 {
  position: absolute;
  top: 44px;
  left: 177px;
  width: 135px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Group_4 {
  position: absolute;
  top: 463px;
  left: 0px;
  width: 320px;
  height: 77px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 310px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12pt;
  font-family: Roboto-Regular,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_98 {
  position: absolute;
  top: 7px;
  left: 230px;
  width: 38px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_10 {
  position: absolute;
  top: 44px;
  left: 177px;
  width: 135px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_99 {
  position: absolute;
  top: 139px;
  left: 226px;
  width: 38px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_6 {
  position: absolute;
  top: 226px;
  left: 95px;
  width: 121px;
  height: 27px;
  background-color: #FF0000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}