#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 135px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 135px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_9 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 135px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_98 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 135px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Image_99 {
  -ms-transform: rotate(0.0deg);
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-ad96cdba-7be8-4e66-9f28-62291427c9f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}