#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 188px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-ae6a7a9d-87d9-46c4-ba32-17dc910b8723 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}