#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 312px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-c833d58d-8d03-49c5-9b7f-e2d28e4fd398 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}