#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rich_text_20 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Pin_red {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Pin_red_1 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Pin_red_2 {
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 208px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 208px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 208px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 67px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-de173d30-80d5-4d0e-841f-c319c16877bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}