#s-ececcb85-da50-4dba-8eaf-628779a62dcc {
  background-color: transparent;
  background-image: none;
  min-width: 321px;
  min-height: 569px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_56 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 65px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_85 {
  position: absolute;
  top: 28px;
  left: 90px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_85 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 22px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_33 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 44px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_36 {
  position: absolute;
  top: 4px;
  left: 230px;
  width: 90px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 119px;
  width: 78px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_5 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_6 {
  position: absolute;
  top: 1px;
  left: 44px;
  width: 45px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_6 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_92 {
  position: absolute;
  top: 25px;
  left: 270px;
  width: 37px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_1 {
  position: absolute;
  top: 65px;
  left: 0px;
  width: 321px;
  height: 504px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_16 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 320px;
  height: 504px;
  background-color: #E5E5E5;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_16 span#rtr-s-Rich_text_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_13 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 289px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 10pt;
  font-family: Roboto-Regular,Arial;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rich_text_13 span#rtr-s-Rich_text_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 0px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_31 {
  position: absolute;
  top: 40px;
  left: 18px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 10pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_31 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Dynamic_Panel_2 {
  position: absolute;
  top: 75px;
  left: 0px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Panel_3 {
  width: 304px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  border-left-width: 16px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_25 {
  width: 304px;
  height: 43px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_45 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_50 {
  position: absolute;
  top: 4px;
  left: 241px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_26 {
  width: 304px;
  height: 43px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_46 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_57 {
  position: absolute;
  top: 4px;
  left: 241px;
  width: 51px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_40 {
  position: absolute;
  top: 175px;
  left: 17px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10pt;
  line-height: 10pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_40 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_30 {
  position: absolute;
  top: 275px;
  left: 0px;
  width: 320px;
  height: 48px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_50 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_50 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_63 {
  position: absolute;
  top: 19px;
  left: 292px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_31 {
  position: absolute;
  top: 322px;
  left: 0px;
  width: 320px;
  height: 48px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_51 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_51 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_64 {
  position: absolute;
  top: 17px;
  left: 292px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_32 {
  position: absolute;
  top: 369px;
  left: 0px;
  width: 320px;
  height: 48px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_52 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_52 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_65 {
  position: absolute;
  top: 17px;
  left: 292px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Group_33 {
  position: absolute;
  top: 416px;
  left: 0px;
  width: 320px;
  height: 48px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_53 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Label_53 .valign {
  vertical-align: middle;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Image_66 {
  position: absolute;
  top: 17px;
  left: 292px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_2 {
  position: absolute;
  top: 497px;
  left: 39px;
  width: 96px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_3 {
  position: absolute;
  top: 497px;
  left: 171px;
  width: 96px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-ececcb85-da50-4dba-8eaf-628779a62dcc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}